{{define "artists-row"}}
<li id="artist-{{.ID}}" class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0">
    <div class="flex items-start gap-x-3">
      <p class="text-sm/6 font-semibold text-gray-900 dark:text-white">{{.Name}}</p>
    </div>
  </div>
  <div class="flex flex-none items-center gap-x-4">
    <a hx-get="/artists/{{.ID}}/edit" hx-target="#artist-{{.ID}}" hx-swap="innerHTML"
      class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 sm:block dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">Edit<span
        class="sr-only">, {{.Name}}</span></a>
  </div>
</li>
{{end}}