{{define "nav-links"}}
<div class="flex lg:gap-x-8">
    <a href="/artists"
        class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Artists</a>
    <a href="/albums"
        class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Albums</a>
    <a href="/locations"
        class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Locations</a>
</div>
{{end}}