{{define "artists"}}
{{template "app.html" .}}
{{end}}

{{define "title"}}<title>Doxie Discs - Artists</title>{{end}}

{{define "content"}}
<div id="content-header" class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold text-gray-900">Artists</h1>
    <p class="mt-2 text-sm text-gray-700">
      A list of all the artists in your vinyl collection including their name,
      creation date, and last update.
    </p>
  </div>
  <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
    <button hx-get="/artists/new" hx-target="#content-body" hx-swap="innerHTML">
      New Artist
    </button>
  </div>
</div>

<div id="content-body">
  {{if .Artists}}
  {{template "artists-list" .Artists}}
  {{end}}
</div>
{{end}}