{{define "artists"}}
{{template "app.html" .}}
{{end}}

{{define "content"}}
<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold text-gray-900">Artists</h1>
    <p class="mt-2 text-sm text-gray-700">
      A list of all the artists in your vinyl collection including their name,
      creation date, and last update.
    </p>
  </div>
  <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
    <button hx-get="/artists/new" hx-target="#modal-content" hx-swap="innerHTML">
      New Artist
    </button>
  </div>
</div>

<div id="artists-content">
  <div id="artists-form"></div>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-sm outline-1 outline-black/5 sm:rounded-lg">
          <table class="relative min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                  Name
                </th>
                <th scope="col" class="py-3.5 pr-4 pl-3 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody id="artist-list" class="divide-y divide-gray-200 bg-white">
              {{if .Artists}}
              {{range .Artists}}
                {{template "artists-row" .}}
              {{end}}
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{end}}